{% extends 'base.html.twig' %}

{% block body %}
<div class="login-page">
    <div class="login-box">
        <form method="post">
            <label>Email</label>
            <input type="email" name="_username" placeholder="vous@example.com" required>

            <label>Mot de passe</label>
            <input type="password" name="_password" required>

            <button type="submit">Se connecter</button>

            <div class="links">
                <a href="#">S’inscrire</a><br>
                <a href="#">Mot de passe oublié ?</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
