{% extends 'base.html.twig' %}

{% block title %}Connexion | Pizza Express{% endblock %}

{% block body %}
<div class="login-container">

    <h2>Connexion</h2>

    {% if error %}
        <div class="error">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form method="post">

        <div class="input-group">
            <label>Email</label>
            <input type="email"
                   name="_username"
                   value="{{ last_username }}"
                   required
                   placeholder="votre@email.com">
        </div>

        <div class="input-group">
            <label>Mot de passe</label>
            <input type="password"
                   name="_password"
                   required>
        </div>

        <button type="submit" class="btn-login">
            Se connecter
        </button>

        <div class="links">
            <a href="/register">S’inscrire</a> |
            <a href="#">Mot de passe oublié ?</a>
        </div>

    </form>
</div>
{% endblock %}

