<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pizza Express</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>

<header class="header">
    <div class="logo">Pizza Express</div>
    <nav>
        <a href="#">menu</a>
        <a href="#">profil</a>
        <a href="#">panier</a>
    </nav>
</header>

{% block body %}{% endblock %}

</body>
</html>

